# Điền token bot Discord của bạn (lấy từ https://discord.com/developers/applications)
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE

# Điền URL Web App Google Apps Script của bạn (nếu khác với file .env ở thư mục cha)
# URL này có dạng: https://script.google.com/macros/s/AKfycb.../exec
GAS_WEB_APP_URL=https://script.google.com/macros/s/AKfycb.../exec
